* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: sans-serif;
}

header {
    padding: 12px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

body {
    padding: 12px;
}

h1,
h2,
p {
    margin-bottom: 12px;
}

.product-wrapper {
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid #10101031;
}